body {
  background:#fff url(im/popup_bg.gif) repeat-x top; 
  /*background-color:#f3f3f3;*/
  margin:0;
  padding:0;
}
body, div, span, td, tr, p, input {
  font-family:Arial, Verdana, Sans-serif;
  font-size:12px;
}
input, select, textarea {
    background-color:#fff;
}
img {border:0;}
a {
  color:#1659b0;
  text-decoration:underline;
  padding-bottom:1px;
}
a:focus {outline:none}
a:hover {text-decoration:none; }

.fl {float:left;}
.fr {float:right;}
.clBoth {clear:both !important;}

form { margin:0; padding:0; }

#main {
  padding:10px;
}
.red {
  color: #ff0000;
}
h1, h1 a {
  color:#363636;
  font-size:14px;
  margin-top:0;
  text-transform:uppercase;
}
h2 {
  color:#363636;
  font-size:14px;
  font-weight:bold;
  margin-top:0;
  margin-bottom:5px;
}
#topLinks span, #backLink span {
  background:url(im/dot.gif) no-repeat center;
  width:3px;
  height:3px;
  margin:0 4px;
}
.popupInp {
    width:270px;
    height:17px;
    border:1px solid #c3c3c3;
    padding-left:5px;
    padding-right:5px;
    padding-top:3px;
}
.popupTArea {
    width:270px;
    border:1px solid #c3c3c3;
    padding-left:5px;
    padding-right:5px;
}
.popupSelect {
    width:282px;
    border:1px solid #c3c3c3;
    padding-left:5px;
}
.submit {
    background:#fff url(im/submit_bg.gif) repeat-x top;
    border:1px solid #C3C3C3;
    color:#6a6a6a;
    height:21px;
}
.url {
  font-family:Arial;
  font-size:12px;
  color:#009000;
  padding-top:3px;
  text-decoration:none;
}